<!DOCTYPE ejs>
<ejs lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style/all.min.css">
    <link rel="stylesheet" href="/public/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>



<div class="donors text-center pt-5 pb-5">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="DonorsInfo d-flex flex-wrap gap-4 justify-content-center">
            <div class="container ">
              <div class="row px-3 py-3">
                <div class="infos col-9">
                  <span class="fs-5">Irbid Governorate</span><br>         
                  <span class="fs-5">Qasaba Irbid District</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <span class="fw-bold fs-4">+A</span>
                </div>
              </div>
              <div class="donorPhone p-3 mt-3">
               <strong class="fs-4">
                 <a href="tel:06722613"><i class="fa-solid fa-phone"></i> 06722613</a>
               </strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
          <div class="DonorsInfo d-flex flex-wrap gap-4 justify-content-center">
            <div class="container">
              <div class="row  px-3 py-3">
                <div class="infos col-9">
                  <span class="fs-5">Amman Governorate</span><br>
                  <span class="fs-5">Naour Brigade</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <span class="fw-bold fs-4">-O</span>
                </div>
              </div>
              <div class="donorPhone p-3 mt-3">
                <strong class="fs-4">
                <a href="tel:06879334"><i class="fa-solid fa-phone"></i> 06879334</a>
                </strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
          <div class="DonorsInfo d-flex flex-wrap gap-4 justify-content-center">
            <div class="container">
              <div class="row  px-3 py-3">
                <div class="infos col-9">
                  <span class="fs-5">Amman Governorate</span><br>
                  <span class="fs-5">Kasbah District of the capital</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <span class="fw-bold fs-4">+A</span>
                </div>
              </div>
              <div class="donorPhone p-3 mt-3">
                <strong class="fs-4">
                <a href="tel:06991674"><i class="fa-solid fa-phone"></i> 06991674</a>
                </strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
          <div class="DonorsInfo d-flex flex-wrap gap-4 justify-content-center">
            <div class="container">
              <div class="row  px-3 py-3">
                <div class="infos col-9">
                  <span class="fs-5">Madaba Governorate</span><br>
                  <span class="fs-5">Dhiban Brigade</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <span class="fw-bold fs-4">-AB</span>
                </div>
              </div>
              <div class="donorPhone p-3 mt-3">
                <strong class="fs-4">
                <a href="tel:06339780"><i class="fa-solid fa-phone"></i> 06339780</a>
                </strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
          <div class="DonorsInfo d-flex flex-wrap gap-4 justify-content-center">
            <div class="container">
              <div class="row  px-3 py-3">
                <div class="infos col-9">
                  <span class="fs-5">Madaba Governorate</span><br>
                  <span class="fs-5">Kasbah Madaba Brigade</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <span class="fw-bold fs-4">+AB</span>
                </div>
              </div>
              <div class="donorPhone p-3 mt-3">
                <strong class="fs-4">
                <a href="tel:06973210"><i class="fa-solid fa-phone"></i> 06973210</a>
                </strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
          <div class="DonorsInfo d-flex flex-wrap gap-4 justify-content-center">
            <div class="container">
              <div class="row  px-3 py-3">
                <div class="infos col-9">
                  <span class="fs-5">Irbid Governorate</span><br>
                  <span class="fs-5">Ramtha Brigade</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <span class="fw-bold fs-4">+O</span>
                </div>
              </div>
              <div class="donorPhone p-3 mt-3">
                <strong class="fs-4">
                <a href="tel:06973210"><i class="fa-solid fa-phone"></i> 06973210</a>
                </strong>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>

  
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/all.min.js"></script>
<script src="/public/main.js"></script>


</body>
</ejs>