<!DOCTYPE ejs>
<ejs lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style/all.min.css">
    <link rel="stylesheet" href="/public/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>
<body>

<!--Start footer-->
<div class="footer pt-5 pb-5 text-center text-md-start">
    <div class="container"> 
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="info mb-4">
            <h5 class="fw-bold" href="#"><span>Hope</span>Drops</h5>
            <p>If you are unable to donate blood , you can still make a difference by spreading the word about this website on social media</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="links">
            <h5 class=>Links</h5>
            <ul class="list-unstyled lh-lg">
              <li><a href="/views/home.ejs">Home</a></li>
              <li><a href="/views/donors.ejs">List Of Donors</a></li>
              <li><a href="/views/aboutus.ejs">About</a></li>
              <li><a href="/views/MyAccount.ejs">My Account</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="links">
            <h5>Contact Us</h5>
            <ul class="list-unstyled lh-lg">
              <li>+9627090656044</li>
              <li>HopeDrops24@gmail.com </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-2">
          <div class="contact mb-4">
            <h5 class="text-center">Follow us</h5>
            <ul class="list-unstyled mt-3 d-flex gap-3 align-items-center justify-content-center">
              <a class="d-block text-light" href="https://www.facebook.com/"><i class="fa-brands fa-facebook p-2 fa-lg" style="color: #000000;"></i></a>
              <a class="d-block text-light" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-lg instagram  p-2" style="color: #000000;"></i></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End footer-->

<!-- <script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/all.min.js"></script> -->


<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/all.min.js"></script>
<script src="/public/main.js"></script>    


</body>
</ejs>